body {
	text-align: center;
	font-family: Helvetica;
	background-color: #202020;
}

.title {
    font-size: 28pt;
    color: white;
}

.container {
	margin: 10px 10px 10px 10px;
}

#search-bar {
	font-size: 18pt;
	width: 75%;
}

#search-button {
	font-size: 18pt;
	margin: 5px 5px 5px 5px;
}

#result-table, .row, .col {
	border: 2pt solid #555555;
	border-collapse: collapse;
    background-color: lightgray;
    color: black;
}

#result-table {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.header {
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #909090;
}

.rank {
    width: 10%;
    font-size: 24pt;
}

.pic {
	width: 10%;
}

.name {
	width: 30%;
}

.type {
	width: 10%;
}

.ep {
	width: 10%;
}

.date {
	width: 15%;
}

.score {
	width: 10%; 
}

.image {
	width: 100%;
}