body {
	text-align: center;
	font-family: Helvetica;
	background-color: #202020;
}

.title {
	font-size: 28pt;
	color: white;
}

.search-container {
	margin: 10px 10px 10px 10px;
}

input {
	font-size: 18pt;
	width: 75%;
}

button {
	font-size: 18pt;
	margin: 5px 5px 5px 5px;
}

#result-table, .row, .col {
	border: 2pt solid #555555;
	border-collapse: collapse;
	background-color: lightgray;
	color: black;
	font-family: arial;
}

#result-table {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	font-size: 16pt;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #909090;
}

.row:hover .col {
	background-color: #707070;
}

.table-rank {
	width: 10%;
	font-size: 24pt;
}

.table-picture {
	width: 10%;
}

.table-name {
	width: 30%;
}

.table-type {
	width: 10%;
}

.table-episodes {
	width: 10%;
}

.table-date {
	width: 15%;
}

.table-score {
	width: 10%; 
}

.table-image {
	width: 100%;
}

.main-container {
	width: 75%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
    overflow: auto;
    display: none;
}

.sub-container {
	background-color: #a3a3c2;
	padding: 5px 10px 5px 10px;
	margin: 5px 5px 5px 5px;
}

.tree-container {
    background-color: #a3a3c2;
	padding: 5px 10px 5px 10px;
	margin: 5px 5px 5px 5px;
}

.sub-container:after {
    content: "";
    display: table;
    clear: both;
}

.dual-container {
	background-color: #888888;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	overflow: auto;
}

.picture {
	max-width: 25%;
	float: left;
	padding-right: 10px;
}

.info-container {
	float: left;
	padding-left: 10px;
	width: 70%;
	overflow: auto;
}

.left-container {
	float: left;
	width: 45%;
}

.right-container {
	float: left;
	padding-left: 10px;
	width: 45%;
}

.large-text {
	font-size: 24pt;
	color: black;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

.medium-text {
	font-size: 16pt;
	color: black;
	line-height: 16pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

.small-text {
	font-size: 14pt;
	color: black;
	line-height: 14pt;
	margin-top: 14pt;
	margin-bottom: 14pt;
}

.bold {
	font-weight: bold;
}
